/venv/
physiofit/__pycache__/__init__.cpython-310.pyc
physiofit/__pycache__/__main__.cpython-310.pyc
physiofit/__pycache__/logger.cpython-310.pyc
physiofit/base/__pycache__/__init__.cpython-310.pyc
physiofit/base/__pycache__/fitter.cpython-310.pyc
physiofit/base/__pycache__/io.cpython-310.pyc
physiofit/last_version.txt
